name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  test:
    name: Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: npm install
        run: npm install

      - name: npm run coverage
        run: npm run coverage

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  blog:
    name: Deploy blog from subdirectory
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: git
        run: |
          git subtree split --branch blog --prefix www/blog/
          git checkout blog
          git push origin blog
  app:
    name: Deploy app from subdirectory
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: git
        run: |
          git subtree split --branch app --prefix www/app/
          git checkout app
          git push origin app
